@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  --bg-neutral: #edeff2;
  --neutral: #f7f9fc;
  --neutral-black: #06152c;
  --primary: #83b0f5;

  --priority-high: #f59d83;
  --priority-medium: #f5ed83;
  --priority-low: #b4f583;
}

body {
  background-color: var(--bg-neutral);
  color: var(--neutral-black);
}

h2 {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1024px;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-item {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;

  padding-top: calc(1rem - 8px);
}

.todo-details,
.todo-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hidden {
  display: none;
}

.priority-high {
  border-top: 8px solid var(--priority-high);
}
.priority-medium {
  border-top: 8px solid var(--priority-medium);
}
.priority-low {
  border-top: 8px solid var(--priority-low);
}

.todo-heading,
.todo-subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.category {
  text-transform: uppercase;
}

.category,
.priority,
.due-date,
.checklist,
.notes,
.description {
  font-size: 0.75rem;
}

.priority,
.due-date,
.checklist,
.notes {
  font-size: 0.75rem;
  font-weight: 200;
}

.category::before {
  content: "#";
}

.priority::before {
  content: "Priority: ";
}


.checklist,
.notes {
  position: relative;
  background-color: var(--neutral);
  padding: 2.25rem 1rem 1rem 1rem;
  border-radius: 0.24rem;
}

.checklist::before,
.notes::before {
  position: absolute;
  top: 1rem;
  font-style: italic;
  font-weight: 400;
}

.checklist::before {
  content: "Checklist";
}
.notes::before {
  content: "Notes";
}

.checklist ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.checklist li {
  display: flex;
  gap: 0.5rem;
}

.buttons {
  display: grid;
  grid-template: "edit edit edit" ". . .";
  gap: 0.5rem;
}

.edit-btn {
  grid-area: edit;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;

  background-color: var(--primary);
  border-radius: 4px;
  padding: 0.25rem;

  color: white;
  font-weight: 200;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal form {
  margin: 15% auto;
  max-width: 500px;

  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.modal .title {
  text-align: center;
}

form ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.modal form ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.todo-item form ul {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal form ul > * {
  grid-column-end: span 2;
}

.modal form ul .one-col {
  grid-column-end: span 1;
}

form input,
form textarea,
form select {
  outline: none;
  border: 1px solid var(--bg-neutral);
  background-color: var(--neutral);

  padding: 0.5rem;
  border-radius: 4px;

  font-weight: 200;
}

form input:focus,
form textarea:focus,
form select:focus {
  border: 1px solid var(--primary);
}

form li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

form textarea {
  resize: none;
  height: 5rem;
}

.todo-item form input,
.todo-item form select,
.todo-item form textarea,
.todo-item form label {
  font-size: 0.75rem;
}

.modal-buttons {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}

.modal-buttons button {
  flex: 1;
}

.new-btn {
  width: 100%;
}